*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* .debug {
  border: 1px solid black; 
  background-color:bisque;
} */

/* header*/
h1{
  font-family: "Dosis", sans-serif;
  font-style: italic;
  font-size: 50px;
}  

header{
  height:120px;
  background-image: url('../img/wall.png');
  position: fixed;
  width:100%;
  z-index:999;
  opacity: 2;
}  

/* main */
main{
  background-image:url('../img/cork.png');
  padding-top:150px
}

/* card */
.card-dm{
 background-color: white;
 box-shadow: 1px 0px 5px rgb(33 30 30);
}

.text {
  height:70px ;
}

p{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.pin {
  left: 50%;
  transform: translate(-50%);
  top: -10px
}

